body{
    background-color: chocolate ;
}
button{
    background-color: darkgreen;
    font-weight: bold;
}
hr{
    border: none ;
    background-color: #000;
    height: 3px ;
}
h1{
    color: white;
    border: 1px solid white;
    padding: 20px 20px;
}