.menu{
    display: flex;
    height: 50px;
    align-items: center;
}
.header-home, .header-users{
    margin-left: 20px;
}
.details-user{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
.user-block{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
}
a{
    text-decoration: none;
}
h1,h2{
    color: #000;
}
.details{
    color:black;
    background-color: #3329d4;
    padding: 5px;
    border-radius: 5px;

}
h2{
    opacity: 80%;

}