#del{
    background-color: darkred;
}
#ed{
    background-color: darkgreen;
}
#che{
    background-color: darkgoldenrod;
}
h1{
    color: black;
}
body{
    background-color: chocolate;
}
hr{
    border: none;
    background-color: black;
    height: .5px;
}