body{
    margin: 0;
}
header{
    padding: 10px 14px;
    background-color: #17163d;
    color: white;
}
.d-flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
    align-items: center;
}
.mx-10{
    margin: 10px;
}

